.section-loader{
    height: 80vh;
}

.loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  background: radial-gradient(circle closest-side, #000 94%, #0000)
    right/calc(200% - 1em) 100%;
  animation: l24 1s infinite alternate linear;
}
.loader::before {
  content: "Buscando estacionamientos...";
  line-height: 1em;
  color: #0000;
  background: inherit;
  background-image: radial-gradient(circle closest-side, #fff 94%, #000);
  -webkit-background-clip: text;
  background-clip: text;
}


.loader-owner-estacionamiento {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  background: radial-gradient(circle closest-side, #000 94%, #0000)
    right/calc(200% - 1em) 100%;
  animation: l24 1s infinite alternate linear;
}
.loader-owner-estacionamiento::before {
content: "Cargando tu dashboard...";
line-height: 1em;
color: #0000;
background: inherit;
background-image: radial-gradient(circle closest-side, #fff 94%, #000);
-webkit-background-clip: text;
background-clip: text;
}

.section-input-location{
  position: absolute;
  top: 10px;
  left: 3%;
  z-index: 1000;
  background: white;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  & input{
    border: none;
    outline: none;
  }
  & button{
    border: none;
    outline: none;
    background: none;
  }
}

@keyframes l24 {
  100% {
    background-position: left;
  }
}